<div class="card mt-5 mb-3">
    <div class="card-body ps-4">
        <div class="tinyinfo mb-3 text-end">
            <span class="rating">
                  <i class="bi bi-heart me-1"></i>
                  <i class="bi bi-heart me-1"></i>
                  <i class="bi bi-heart me-1"></i>
                  <i class="bi bi-heart me-1"></i>
                  <i class="bi bi-heart"></i>
            </span>
        </div>
        <form> 
            <div class="mb-3 mt-3">
                <input type="text" class="form-control inpt" placeholder="Title">
            </div>
            <div class="mb-3">
                <textarea class="form-control inpt" placeholder="Leave a review..." style="height: 100px"></textarea>
            </div>
            <div class="mb-3 text-end">
                <button class="btn sb" type="submit">Share</button>
            </div>
        </form>  
    </div>
</div>

