<h5 class="dt ms-4">WATCHEDLIST</h5>
<hr class="ms-4">
<div class="content ms-4 mt-5">
        <div class="ct" *ngFor="let movie of watchedlistMovie; let i = index;">
            <div class="moviect">
                <img [src]="movie.cardImg" alt="{{movie.title}}">
                <div class="controls">
                    <a class="btn text"><i class="bi bi-x-lg"></i></a>
                </div>
            </div>
            <div class="name">
                <span>{{movie.title}}</span>
            </div>
        </div>
</div>

