<div class="details">
  <h5 class="dt">REVIEWS</h5>
  <hr>
  <app-add-review></app-add-review>
  <div class="card mt-5 mb-3">
    <div class="card-header d-flex border-0 pt-4 ps-4">
      <div class="tinypfp align-self-center">
        <img src="../../assets/images/profilepic.png" alt="">
      </div>
      <div class="tinyinfo d-flex flex-column flex-fill">
        <span class="ms-3">username</span>
        <span class="rating ms-3">
                          <i class="bi bi-heart-fill me-1"></i>
                          <i class="bi bi-heart-fill me-1"></i>
                          <i class="bi bi-heart-fill me-1"></i>
                          <i class="bi bi-heart-fill me-1"></i>
                          <i class="bi bi-heart-fill"></i>
                    </span>
      </div>
      <div class="options d-flex">
        <span class="time align-self-center">2h</span>
      </div>

    </div>

  </div>
  <app-review></app-review>
</div>
