<h5 class="dt ms-4 mt-2">RECENT REVIEWS</h5>
<hr class="ms-4">

<div class="card ms-4 mt-5" *ngFor="let review of reviewList; let i = index;">
  <div class="card-header d-flex border-0 pt-4 ps-4">
      <div class="tinypfp">
          <img src="../../assets/images/profilepic.png" alt="">
      </div>
      <div class="tinyinfo d-flex flex-fill">
          <span class="align-self-center ms-3">username</span>
      </div>
      <div class="options">
        <button mat-button [matMenuTriggerFor]="menu"><i class="bi bi-three-dots"></i></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item><i class="bi bi-magic me-1"></i>Edit review</button>
          <button mat-menu-item><i class="bi bi-trash3 me-1"></i>Delete review</button>
          <button mat-menu-item><i class="bi bi-share-fill me-2"></i>Share</button>
        </mat-menu> 
      </div>   
  </div>
  <div class="card-body ps-4">
    <h5 class="card-title">{{review.title}}</h5>
    <p class="card-text">
      {{review.review}}
    </p>
  </div>
  <div class="card-footer text-muted ps-4">
    2 days ago
  </div>
</div>

<div class="card ms-4 mt-5">
    <div class="card-header d-flex border-0 pt-4 ps-4">
        <div class="tinypfp">
            <img src="../../assets/images/profilepic.png" alt="">
        </div>
        <div class="tinyinfo d-flex flex-fill">
            <span class="align-self-center ms-3">username</span>
        </div>
        <div class="options d-flex">
            <a href="" class="align-self-center"><i class="bi bi-three-dots"></i></a>
        </div>
        
    </div>
    <div class="card-body ps-4">
      <h5 class="card-title">This movie slayed fr</h5>
      <p class="card-text">
        Sit in window and stare oooh, a bird, yum. Cat cat moo moo lick ears lick paws cat ass trophy. Scamper chew foot, for chirp at birds roll over and sun my belly. Sweet beast i could pee on this if i had the energy munch, munch, chomp, chomp purr when being pet and sit on human i'm going to lap some water out of my master's cup meow. Make meme, make cute face. Catty ipsum meowing chowing and wowing and eat all the power cords or get scared by sudden appearance of cucumber.
      </p>
    </div>
    <div class="card-footer text-muted ps-4">
      2 days ago
    </div>
</div>

<div class="card ms-4 mt-5">
    <div class="card-header d-flex border-0 pt-4 ps-4">
        <div class="tinypfp">
            <img src="../../assets/images/profilepic.png" alt="">
        </div>
        <div class="tinyinfo d-flex flex-fill">
            <span class="align-self-center ms-3">username</span>
        </div>
        
    </div>
    <div class="card-body">
      <h5 class="card-title">This movie slayed fr</h5>
      <p class="card-text">
        V! Nuga nareul magado (What?) naui gal gireul gandago (What?) insaeng han bangirago let go (Let go!) let go-o-o-o dan harureul sarado (What?)
        huhoeneun jeoldaero eopdago (What?)
        han beon ttwieobojago
        let's jump! (Jump! Jump! Jump! Jump!)
      </p>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
</div>
