<div class="row">
    <div class="container">
        <div class="wraps">
            <img src="../../assets/images/viewers-disney.png" />
        </div>
        <div class="wraps">
            <img src="../../assets/images/viewers-pixar.png" />
        </div>
        <div class="wraps">
            <img src="../../assets/images/viewers-marvel.png" />
        </div>
        <div class="wraps">
            <img src="../../assets/images/viewers-starwars.png" />
        </div>
        <div class="wraps">
            <img src="../../assets/images/viewers-national.png" />
        </div>
    </div>
</div>

<div class="row">
    <div class="containertwo">
        <h4>Recommended for You</h4>
        <div class="content">
            <div class="moviect">
                <a href="">
                    <img src="https://upload.wikimedia.org/wikipedia/en/1/17/Mulan_%282020_film%29_poster.jpg" alt="">
                </a>
            </div>
            <div class="moviect">
                <a href="">
                    <img src="https://lumiere-a.akamaihd.net/v1/images/p_thorloveandthunder_22808_89cd85bd.jpeg" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
