<div class="container mt-5 pt-3">
    <div class="row">
        <div class="profile d-flex">
            <div class="pfp">
                <img src="../../assets/images/profilepic.png" alt="">
            </div>
            <div class="info d-flex flex-column flex-fill">
                <div class="username">
                    <h3>username</h3>
                </div>
                <div class="profile-info">
                    <p>a very quirky movie critic 💅</p>
                </div>             
            </div>
        </div>
    </div>
    <div class="row lists">
        <div class="col-4 d-flex flex-column">
            <div class="watchlist">
                <img src="https://marketplace.canva.com/EAEdei4e_tA/1/0/1600w/canva-blue-and-purple-90s-anime-chill-acoustic-classical-lo-fi-playlist-cover-tgdfaC3YOOI.jpg" alt="">
                <div class="text">
                    <span>WATCHLIST</span> 
                </div>  
            </div>
                
            <div class="watchlist">
                <img src="https://marketplace.canva.com/EAEdei4e_tA/1/0/1600w/canva-blue-and-purple-90s-anime-chill-acoustic-classical-lo-fi-playlist-cover-tgdfaC3YOOI.jpg" alt="">
                <div class="text">
                    <span>WATCHED LIST</span> 
                </div>
            </div>
        </div>
        <div class="col-8">

            <div class="card ms-4 mt-5">
                <div class="card-header d-flex border-0 pt-4 ps-4">
                    <div class="tinypfp">
                        <img src="../../assets/images/profilepic.png" alt="">
                    </div>
                    <div class="tinyinfo d-flex flex-fill">
                        <span class="align-self-center ms-3">username</span>
                    </div>
                    <div class="options d-flex">
                        <a href="" class="align-self-center"><i class="bi bi-three-dots"></i></a>
                    </div>
                    
                </div>
                <div class="card-body ps-4">
                  <h5 class="card-title">This movie slayed fr</h5>
                  <p class="card-text">
                    Sit in window and stare oooh, a bird, yum. Cat cat moo moo lick ears lick paws cat ass trophy. Scamper chew foot, for chirp at birds roll over and sun my belly. Sweet beast i could pee on this if i had the energy munch, munch, chomp, chomp purr when being pet and sit on human i'm going to lap some water out of my master's cup meow. Make meme, make cute face. Catty ipsum meowing chowing and wowing and eat all the power cords or get scared by sudden appearance of cucumber.
                  </p>
                </div>
                <div class="card-footer text-muted ps-4">
                  2 days ago
                </div>
            </div>

            <div class="card ms-4 mt-5">
                <div class="card-header d-flex border-0 pt-4 ps-4">
                    <div class="tinypfp">
                        <img src="../../assets/images/profilepic.png" alt="">
                    </div>
                    <div class="tinyinfo d-flex flex-fill">
                        <span class="align-self-center ms-3">username</span>
                    </div>
                    
                </div>
                <div class="card-body">
                  <h5 class="card-title">This movie slayed fr</h5>
                  <p class="card-text">
                    V! Nuga nareul magado (What?) naui gal gireul gandago (What?) insaeng han bangirago let go (Let go!) let go-o-o-o dan harureul sarado (What?)
                    huhoeneun jeoldaero eopdago (What?)
                    han beon ttwieobojago
                    let's jump! (Jump! Jump! Jump! Jump!)
                  </p>
                </div>
                <div class="card-footer text-muted">
                  2 days ago
                </div>
            </div>

        </div>       
    </div>
</div>
