<div class="container mt-5 pt-3">
    <div class="row">
        <div class="profile d-flex">
            <div class="pfp">
                <img src="../../assets/images/profilepic.png" alt="">
            </div>
            <div class="info d-flex flex-column flex-fill">
                <div class="username">
                    <h3>username</h3>
                </div>
                <div class="profile-info">
                    <p>a very quirky movie critic 💅</p>
                </div>             
            </div>
        </div>
    </div>
    <div class="row lists">
        <div class="col-4 d-flex flex-column">
            <a routerLink="/user/watchlist">
                <div class="watchlist text-center flex flex-column">
                    <div class="plus mt-5">
                        <i class="bi bi-plus-lg"></i>
                    </div>
                    <div class="text">
                        <span>WATCHLIST</span> 
                    </div>  
                </div>
            </a> 
            <a routerLink="/user/watchedlist">  
                <div class="watchlist text-center flex flex-column">
                    <div class="plus mt-5">
                        <i class="bi bi-check-lg"></i>
                    </div>
                    <div class="text">
                        <span>WATCHED LIST</span> 
                    </div>
                </div>
            </a> 
        </div>
        <div class="col-8">
            <router-outlet></router-outlet>
        </div>       
    </div>
</div>
