<div class="container">
    <div class="background">

    </div>
    <div class="imagetitle">

    </div>
    <div class="controls">
        <button class="playbutton">
            <img src="" alt="">
            <span></span>
        </button>
        <button class="trailerbutton">
            <img src="" alt="">
            <span></span>
        </button>
        <button class="addbutton">
            <span>+</span>
        </button>
        <button class="groupwatchbutton">
            <img src="" alt="">
        </button>
    </div>
    <div class="subtitle">
        
    </div>
    <div class="description">

    </div>
</div>
